annotated-types
certifi
charset-normalizer
dotenv
idna
numpy
pandas
pyarrow
pydantic
pydantic-settings
pydantic_core
python-dateutil
python-dotenv
requests
six
typing-inspection
typing_extensions
tzdata
urllib3
pymongo
unidecode