annotated-types==0.7.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
databricks==0.2
databricks-connect==16.4.17
databricks-sdk==0.117.0
dnspython==2.8.0
dotenv==0.9.9
google-auth==2.55.1
googleapis-common-protos==1.75.0
grpcio==1.81.1
grpcio-status==1.81.1
idna==3.18
numpy==1.26.4
packaging==26.2
pandas==2.3.3
protobuf==6.33.6
py4j==0.10.9.9
pyarrow==24.0.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
pymongo==4.17.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.2
requests==2.34.2
setuptools==82.0.1
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
Unidecode==1.4.0
urllib3==2.7.0
zstandard==0.25.0
